# build output
dist/
# generated types
.astro/
__pycache__/
*.pyc

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# media assets (stored outside version control)
public/*
!public/robots.txt
!public/yandex_de2d35d38832f550.html
